<div id="header">
{{page.header}}
{{first_module_variable}}
</div>

<div id="menu">
{{page.menu}}
</div>

<div id="content">
{{page.content}}
</div>

<div id="sidebar">
{{page.sidebar}}
</div>

<div id="footer">
{{page.footer}}
</div>